*{
    margin: 0;
    padding: 0;
}
.test{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./1311165.webp);
    height: 730px; 
     }
     a{
         color: white;
         text-decoration: none;
         font-size: 30px;
     }
     .s{
         font-size: 50px;
     }
     .alt-tst{
        display: flex;
        justify-content: space-between;
     }
     .dbl-test a{
      }
      p{
        align-items: center;
        height:100vh;
         display: flex;
         justify-content: center;
         color: white;
         
     };